@import url(fonts/stylesheet.css);
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap'); */

*, *::before, *::after {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.header-nav {
    padding: 31px 0px 21px 0px;
    border-bottom: 1px solid #262728;
    display: flex;
    height: 90px;
    justify-content: space-between;
}

.container {
    height: 90px;
    width: 1600px;
    margin: 0 auto;
}

.container__line {
    height: 90px;
    width: 1195px;
}

.header {
    width: 1600px;
    background-size: cover;
    background-image: url("images/Header BG.png");
    height: 944px;
    background-repeat: no-repeat;
}

.logo{
    position: absolute;
}

.logo__img {
    position: absolute;
    margin-top: 1px;
    min-height: 29px;
    max-width: 133px;
    display: block;
}

.nav {
    margin-right: 0;
    right: 0;
    width: 637px;
}

.nav__item {
    /* margin-left: 69px; */
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Lato";
    text-decoration: none;
}

.nav-list {
    display: flex;
    margin-left: 5px;
    justify-content: space-between;
    width: 632px;
}

.nav__item:hover {
    text-decoration: underline;
    text-underline-offset: 38px;
}

.hello-page {
    height: 852px;
    width: 1600px;
    margin: 0 auto;
}

.hello-page-container {
    position: absolute;
    top: 46%;
    left: 38%;
    height: 162px;
    width: 444px;
}

.hello-page__title {
    text-align: center;
    font-size: 72px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Myriad Pro";
}

.hello-page__subtitle {
    text-align: center;
}

.hello-page__text:first-child {
    padding-bottom: 10px;
}

.hello-page__text {
    color: #ffffff;
    font-size: 32px;
    font-family: "Georgia";
    font-style: italic;
}

.member {
    height: 122px;
    width: 1600px;
    height: auto;
}

button {
    display: block;
    border: 0;
    padding: 0;
    margin: 0;
    height: auto;
}

.member-container {
    /* max-width: 1600px; */
    display: flex;
    margin: 0 auto;
}

.none{
    
}

.login-btn {
    width: 50.6%;
    height: 120px;
    background-color: #20414a;
    position: relative;
    z-index: 99;
}

#btn:hover {
    /* background-color: #10AFF1; */
    filter: invert(20%);
    cursor: pointer;
    /* transition: all; */
}

.register-btn {
    height: 120px;
    background-color: #2fab6c;
    width: 49.5%;
    /* display: inline-block; */
    /* vertical-align: top; */
    position: relative;
    /* overflow-x: hidden; */
}

.register-btn:hover {
    /* background-color: #10AFF1; */
    filter: invert(10%);
    cursor: pointer;
    z-index: 99;
}

.register-btn:before {
    content: '';
    display: block;
    clear: both;
    width: 0;
    height: 0;
    border-left: 29px solid transparent;
    border-bottom: 120px solid #2fab6c;
    position: absolute;
    top: 0;
    left: -29px;
    z-index: 99;
}

.register-btn__title {
    /* width: 790px; */
    overflow: hidden;
    margin: 0 auto;
    position: absolute;
    font-size: 22px;
    overflow: hidden;
    color: #ffffff;
    font-weight: 700;
    font-family: "Lato";
    top: calc(50% - 14px);
    left: 241px;
    z-index: 999;
    /*надо переделать*/
}

.login-btn__title {
    z-index: 999;
    margin: 0 auto;
    /* width: 810px;  */
    position: absolute;
    font-size: 22px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Lato";
    top: calc(50% - 14px);
    right: 270px;
    /* right: -470px; */
    overflow: hidden;
    /* right: -470px; надо переделать */
}

.domain-buy{
    height: 576px;
}

.domain-container {
    width: 1600px;
    display: block;
    margin: 0 auto;
    padding: 84px 354px 90px 355px;
}

div.domain__title {
    margin-bottom: 22.5px;
    text-align: center;
}

h1.domain__title {
    font-size: 24px;
    color: #383737;
    font-weight: 800;
    font-family: "Lato";
}

.domain__text {
    font-size: 16px;
    /* letter-spacing: -0.65px; */
    color: #a2a2a2;
    font-weight: 200;
    margin-bottom: 27px;
    font-family: 'Montserrat';
}

.input-domain {
    height: 50px;
    width: 888px;
    border: 1px solid #D9D9D9;
    margin-top: 49px;
    position: relative;
    padding-left: 1px;
}


.domain {
    font-family: "Lato SemiBold", sans-serif;
    width: 700px;
    font-size: 15px;
    padding: 15px 12px;
    border: none;
}

.www{
    color: #CBCBCB;
    font-family: "Lato SemiBold", sans-serif;
    font-size: 16px;
    border-right: 1px solid #D9D9D9;
    padding: 7px 14px;
    margin-left: -1px;
    letter-spacing: 0.8px;
}

#domain-name {
    font-size: 15px;
    color: #CBCBCB;
    border: none;
    border-left: 1px solid #D9D9D9;
    margin-left: 22px;
    padding: 6px 10px;

}

.domain-prices {
    position: center;
    margin-left: 3px;
    margin-top: 40px;
}

.grid-container {
    border-collapse: collapse;
    border: thin solid #d9d9d9;
    height: 192px;
    width: 889px;
    margin-left: -1.4px;
    margin-top: 0px;
}

.grid__item {
    border-bottom: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
    text-align: center;
    /* padding-top: 39px; */
    font-size: 14px;
    color: #cbcbcb;
    font-weight: 400;
    font-family: "Lato";
    width: 221px;
    height: 97px;
}

.grid__item__top:before {
    position: relative;
    content: ' ';
    width: 13px;
    height: 13px;
    bottom: -65px;
    left: -111px;
    right: 7px;
    display: block;
    background-color: #fff;
}

.grid__item__top:after {
    position: relative;
    content: ' ';
    width: 10px;
    height: 16px;
    bottom: 55px;
    left: 111px;
    display: block;
    background-color: #fff;
}

.grid__item__top__left:before {
    position: relative;
    content: ' ';
    width: 26px;
    height: 13px;
    left: -97.5px;
    bottom: -65px;
    display: block;
    background-color: #fff;
}

.grid__item__top__right:before {
    position: relative;
    content: ' ';
    width: 13px;
    height: 13px;
    bottom: -62px;
    left: -111px;
    margin-top: -4px;
    display: block;
    background-color: #fff;
}

.grid__item__top__right:after {
    position: relative;
    content: ' ';
    width: 30px;
    height: 10px;
    bottom: -35px;
    left: 95.5px;
    display: block;
    background-color: #fff;
}

.grid__item__top__left:after {
    position: relative;
    content: ' ';
    width: 10px;
    height: 16px;
    bottom: 55px;
    left: 111px;
    display: block;
    background-color: #fff;
}

.grid__item__bot:after {
    position: relative;
    content: ' ';
    text-align: center;
    width: 10px;
    height: 15px;
    bottom: -30px;
    left: 111px;
    display: block;
    background-color: #fff;
}

.packages {
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
}

.packages img {
    position: absolute;
}

.packages__banners {
    position: relative;
    margin-top: 3px;
    top: 0px;
    width: 1600px;
    height: 765px;
    background-color: black;
    display: flex;
}

.package__banner {
    position: relative;
    flex-direction: column;
    top: 100px;
    width: 255px;
    height: 565px;
    margin-right: 59px;
    margin-left: 0px;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
    border-top: 5.1px solid;
    display: flex;
    align-items: center;
}

.basic__package {
    margin-left: 200px;
    border-top-color: #f9d423;
}

.normal__package {
    border-top-color: #7f8c8d;
}

.big__package {
    border-top-color: #f85f40;
}

.biggest__package {
    border-top-color: #1abc9c;
}

.basic__package__img {
    margin-top: 15px;
}

.normal__packages__img {
    margin-top: 15px;
}

.big__packages__img {
    margin-top: 15px;
}

.biggest__packages__img {
    margin-top: 15px;
}

.basic__package__title {
    margin-top: 85px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-family: "Lato";
    font-size: 16px;
}

.packages__grid {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    width: 200px;

}

.left__item {
    display: inline-block;
    height: 36px;
    padding-top: 15px;
    font-family: "Lato";
    font-weight: lighter;
    color: #b4b4b4;
    font-size: 16px;
}

.right__item {
    height: 36px;
    width: 50px;
    padding-top: 12px;
    text-align: right;
    font-family: "Lato";
    font-weight: 550;
    font-size: 16px;
}

.basic__color {
    color: #f9d423;
}

.normal__color {
    color: #7f8c8d;
}

.big__color {
    color: #f85f40;
}

.biggest__color {
    color: #1abc9c;
}

.bot__border {
    height: 12px;
}

.block-price {
    margin-top: 25px;
}

.block-price .price {
    font-size: 30px;
    font-weight: bold;
}

.price sup {
    font-size: 16px;
}

.price sub {
    font-weight: 200;
    font-size: 13px;
    color: #B4B4B4
}

.basic__price__bar {

    width: 105px;
    height: 3px;
    background-color: #f9d423;
}

.normal__price__bar {

    width: 105px;
    height: 3px;
    background-color: #7f8c8d;
}

.big__price__bar {

    width: 105px;
    height: 3px;
    background-color: #f85f40;
}

.biggest__price__bar {

    width: 105px;
    height: 3px;
    background-color: #1abc9c;
}

.select__plan {
    font-family: "Lato";
    font-weight: bold;
    font-size: 16px;
    margin-top: 15px;
}

.about__us {
    width: 100%;
    height: 100%;
    margin-top: -1px;
    margin-left: auto;
    margin-right: auto;
}

.about__us__panel {
    position: relative;
    width: 1200px;
    height: 360px;
    background: white;
    border-top: #d8d8d8 dotted 3px;
}

.about__us__title {
    position: absolute;
    top: 97px;
    left: 1px;
    font-weight: 600;
    font-family: "Lato";
    font-size: 35.11px;
}

.about {
    font-size: 35.11px;
    font-family: "Lato Black";
    font-weight: normal;
}

.paste {
    color: #aaaaaa;
    font-family: "Lato";
    font-size: 18.06px;
    line-height: 27px;
    letter-spacing: -0.8px;
    width: 400px;
    position: absolute;
    left: 1px;
    top: 160px;
}

.designers__panel {
    position: absolute;
    display: flex;
    width: 681.5px;
    height: 185px;
    background: white;
    border-left: #d8d8d8 dotted 3px;
    right: 0;
    top: 107px;
}

.designer__panel {
    position: relative;
    flex-direction: column;
    margin: 0px 0px 0px 75px;
    width: 160px;
    height: 185px;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.round {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    /* Радиус скругления */
    border: 4px solid #e5e5e5;
    /* Параметры тени */
}

.designer__img {
    width: 107%;
    height: 107%;
    object-fit: fill;
}

.name {
    margin-top: 15px;
    text-align: center;
    font-weight: 600;
    font-family: "Lato";
    font-size: 17px;
}

.designer {
    margin-top: 5px;
    text-align: center;
    color: #8e8e8e;
    font-weight: normal;
    font-family: "Lato";
    font-size: 15px;
}

.icons {
    margin-top: 5px;
    text-align: center;
}

.fa-facebook:hover {
    color: #1f89ba;
    cursor: pointer;
}

.fa-twitter {
    margin-left: 20px;
}

.fa-twitter:hover {
    color: #1f89ba;
    cursor: pointer;
}

.fa-link {
    margin-left: 20px;
}

.fa-link:hover {
    color: #1f89ba;
    cursor: pointer;
}

.quotes {
    width: 100%;
    height: 100%;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 41px;
}

.slider__panel {
    position: relative;
    top: 0px;
    width: 1601px;
    height: 190px;
    background-color: black;
}

.slider__img {
    position: absolute;
}

#slider {
    /*положение слайдера*/
    position: relative;
    text-align: center;
    top: 10px;
}

#slider {
    /*центровка слайдера*/
    margin: 0 auto;
}

#quote__slides article {
    /*все изображения справа друг от друга*/
    width: 20%;
    float: left;
}

#quote__slides .quote {
    /*устанавливает общий размер блока с изображениями*/
    width: 500%;
    line-height: 0;
}

#overflow {
    /*сркывает все, что находится за пределами этого блока*/
    position: absolute;
    left: 325px;
    top: 37px;
    width: 950px;
    height: 70px;
    overflow: hidden;
}

#overflow2 {
    /*сркывает все, что находится за пределами этого блока*/
    position: absolute;
    left: 612px;
    top: 108px;
    width: 200px;
    height: 30px;
    overflow: hidden;
}

.owner {
    width: 900px;
}

#desktop:checked~#slider {
    /*размер всего слайдера*/
    max-width: 960px;
    /*максимальнная длинна*/
}

.quote__slide {
    display: inline-block;
    width: 950px;
    height: 70px;
    float: left;
}

.owner__slide {
    display: inline-block;
    margin-right: 50px;
    width: 150px;
    height: 30px;
    float: left;
}

.quoter {
    position: absolute;
    text-align: center;
    color: #f5f5f5;
    font-family: "Lato";
    font-weight: 300;
    font-size: 19.5px;
    width: 950px;
    height: 70px;
    line-height: 1.5em;
    letter-spacing: 0.2px;
}

.quote__owner {
    position: absolute;
    text-align: right;
    color: #f5f5f5;
    font-family: "Lato";
    font-weight: 600;
    font-size: 19.5px;
    width: 150px;
    height: 30px;
    /*line-height: 1.5em;*/
    letter-spacing: 0.2px;
}

.bars {
    position: absolute;
    width: 90px;
    height: 16px;
    margin-left: 818px;
    margin-top: 113px;
    border-left: 1px solid #979797;
}

.bar {
    /*стиль отдельного переключателя*/
    cursor: pointer;
    border-radius: 50%;
    /*скругление углов*/
    display: inline-block;
    /*расположение в строку*/
    width: 8px;
    height: 8px;
    border: 1px solid white;
    margin: 4px;
}

.first__bar {
    margin-left: -13px;
}

label {
    /*при наведении на стрелки или переключатели - курсор изменится*/
    cursor: pointer;
}

.slider {
    /*скрывает стандартные инпуты (чекбоксы) на странице*/
    display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked~#quote__slides .quote {
    margin-left: 0;
}

#switch1:checked~#names__slides .owner {
    margin-left: 45px;
}

#switch2:checked~#quote__slides .quote {
    margin-left: -950px;
}

#switch2:checked~#names__slides .owner {
    margin-left: -156px;
}

#switch3:checked~#quote__slides .quote {
    margin-left: -1900px;
}

#switch3:checked~#names__slides .owner {
    margin-left: -356px;
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked~#active label:nth-child(1),
#switch2:checked~#active label:nth-child(2),
#switch3:checked~#active label:nth-child(3) {
    background: white;
}

#quote__slides .quote {
    /*анимация пролистывания изображений*/
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#names__slides .owner {
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.features {
    width: 1600px;
    height: 342px;
}

.feature-blocks {
    display: flex;
    position: relative;
    right: 0px;
    align-items: center;
    padding: 98px 0px 85px 0px;
    width: calc(1600px - 340px);
}

.feature-block {
    width: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    display: flex;
}

.icon-flash {
    color: #fff;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 0px;
    height: 60px;
    width: 60px;
    font-size: 26px;
}

.icon-yellow {
    background-color: #F1C40F;
}

.icon-yellow:hover {
    cursor: pointer;
    background-color: #cea811;
}

.icon-blue {
    background-color: #10AFF1;
}

.icon-blue:hover {
    cursor: pointer;
    background-color: #0f94c7;
}

.icon-grey {
    background-color: #95A5A5;
}

.icon-grey:hover {
    cursor: pointer;
    background-color: #707d7d;
}

.icon-red {
    background-color: #F1540F;
}

.icon-red:hover {
    cursor: pointer;
    background-color: #c1410d;
}

.fa-solid fa-bolt-lightning {
    font-size: 24px;
}

.feature-item {
    margin: 0;
    flex-direction: column;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-item h4 {
    padding-top: px;
    font-size: 18px;
    font-size: 18px;
    color: #303030;
    font-weight: 800;
    font-family: "Lato";
    margin: 20px 0 3px;
}

.feature-item text {
    /* font-family: "Lato Light", sans-serif; */
    /* font-size: 16px; */
    text-align: center;
    padding: 0;
    margin: 0;
    opacity: 0.5;
    /* margin: 0; */
    /* line-height: 23px; */
    font-size: 16px;
    font-family: "Lato";
    color: rgb(126, 126, 126);
    line-height: 1.4;
    text-align: center;
    margin-left: 35px;
    margin-right: 33px;
}

.footer {
    color: #666666;
    list-style-type: none;
    background-color: #2A2A2A;
    width: 1600px;
    height: 295px;
    /* margin: 0 auto; */
}

.footer-header {
    width: 1200px;
    border-bottom: 1px solid #4a4a4a;
    position: relative;
    align-items: center;
    display: flex;
    padding: 23px 0;
    justify-content: space-between;
}

.footer-logo {
    margin: 0;
    padding: 0;
    height: 30px;
    width: 150px;
    background: url(images/Logo2.png) no-repeat;
}

.footer-nav {
    display: flex;
    justify-content: end;
    margin: 0;
}

.footer-nav ul {
    /* margin-left: 570px; */
    font-size: 13px;
    display: flex;
    margin-top: 2px;
}

.footer-nav li {
    font-size: 13px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Lato";
    margin-left: 45px;
    list-style-type: none;
}

.footer-nav ul li a {
    color: #666666;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-nav ul li a:hover {
    transition: .3s all;
    color: #FFFFFF;
}

.footer-nav ul li a:hover .fa-angle-right {
    transition: .3s all;
    color: #FFFFFF;
}

.fa-angle-right:hover {
    color: #FFFFFF;
}

.footer-content {
    padding: 20px 0;
    display: flex;
    line-height: 2.2;
    font-size: 20px;
}

.footer-content .footer-block {
    width: 500px;
    margin-left: 30px;
    padding: 15px 8px;
}

.footer-block p{
    margin-top: 13px;
    /* margin-left: 0px; */
    line-height: 1.70;
    margin-left: 163px;
    font-size: 15px;
    font-size: 15px;
    line-height: 26px;
    color: #686868;
    font-weight: 200;
    font-family: "Lato";
}

.footer-map nav {
    display: flex;
    margin-left: 6px;
    height: 150px;
    border-right: 1px solid #4a4a4a;
    border-left: 1px solid #4a4a4a;
}

.fa-angle-right {
    color: #666666;
}

nav.footer-list ul {
    font-size: 14px;
    margin-top: 13px;
    line-height: 1.3;
    width: 50%;
    margin-left: 99px;
    font-size: 15px;
    /* line-height: 29px; */
    color: #686868;
    font-weight: 300;
    font-family: "Lato";
    list-style-type: none;
}

nav.footer-list li {
    padding: 5px 0 5px 5px;
    /* display: inline-block; */
}

nav.footer-list a:hover {
    color: #FFFFFF;
    cursor: pointer;
}

.footer-list li:hover .fa-angle-right {
    color: #FFFFFF;
    cursor: pointer;
    /* transition: .3s margin-left; */
}

.fa-angle-right:hover {
    color: #FFFFFF;
    cursor: pointer;
}

.fa-angle-right:hover~a {
    color: #FFFFFF;
    transition: .3s margin-left ease-in-out;
    margin-left: 16px;
}

.footer-list a {
    text-decoration: none;
    margin-left: 8px;
    color: #666666;
}

.footer-list a:hover {
    color: #FFFFFF;
    margin-left: 16px;
    transition: .3s margin-left;
}

.footer-contact {
    margin-bottom: 5px;
}

.footer-contact ul {
    font-size: 14px;
}

.footer-list ul:nth-child(2n) {
    margin-left: 0px;
}


.contact-icon {
    margin-right: 10px;
}

.footer-contact ul {
    margin-left: 60px;
    font-size: 15px;
    line-height: 29px;
    color: #686868;
    font-weight: 300;
    font-family: "Lato";
    list-style-type: none;
    margin-top: 15px;
}

.footer-contact ul li a {
    text-decoration: none;
    color: #666666;
}

.footer-contact ul li a:hover {
    color: #FFFFFF;
    transition: .3s all;
}

/*End Block of Footer*/

.fa-bolt-lightning {
    font-size: 28px;
    color: #FFFFFF;
}

.fa-cloud {
    font-size: 28px;
    color: #FFFFFF;
}

.fa-arrows-alt {
    font-size: 28px;
    color: #FFFFFF;
}

.fa-comments {
    font-size: 28px;
    color: #FFFFFF;
}

.contact-icon {
    font-size: 15px;
}

