@import url(fonts/stylesheet.css);

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-nav {
    padding: 31px 201px 21px 204px;
    width: 1600px;
    display: flex;
    justify-content: space-between;
}

.container {
    height: 90px;
    width: 1600px;
    margin: 0 auto;
}

.header {
    width: 100%;
    background-size: cover;
    background-image: url(images/Header\ BG.png);
    height: 944px;
    background-repeat: no-repeat;
}

.logo__img {
    min-height: 29px;
    max-width: 133px;
}

.nav {
    padding-top: 4px;
}

.nav__item {
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Lato";
    text-decoration: none;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    width: 632px;
}

.nav__item:hover {
    text-decoration: underline;
    text-underline-offset: 38px;
}

.hello-page {
    height: 852px;
    width: 1600px;
    margin: 0 auto;
}

.hello-page-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 336px;
    /*надо переделать*/
    height: 162px;
    width: 444px;
}

.hello-page__title {
    text-align: center;
    font-size: 72px;
    color: #ffffff;
    font-weight: bold;
    font-family: "Myriad Pro";
}

.hello-page__subtitle {
    padding-top: 4px;
    padding-left: 1px;
    text-align: center;
}

.hello-page__text:first-child {
    padding-bottom: 10px;
}

.hello-page__text {
    font-size: 32px;
    color: #ffffff;
    font-style: italic;
    font-family: "Georgia";
}

.member {
    height: 122px;
    width: 100%;
}

.member-container {
    max-width: 1600px;
    display: flex;
}

.login-btn {
    width: 810px;
    height: 120px;
    background-color: #20414a;
    z-index: -1;
}

.register-btn {
    height: 120px;
    background-color: #2fab6c;
    width: 790px;
    /* display: inline-block; */
    /* vertical-align: top; */
    position: relative;
    /* overflow-x: hidden; */
}

.register-btn:before {
    content: '';
    display: block;
    clear: both;
    width: 0;
    height: 0;
    border-left: 29px solid transparent;
    border-bottom: 120px solid #2fab6c;
    position: absolute;
    top: 0;
    left: -29px;
    z-index: 99;
}

.register-btn__title {
    position: absolute;
    font-size: 22px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Lato";
    top: calc(50% - 14px);
    left: 240px; /*надо переделать*/
}

.login-btn__title {
    position: relative;
    font-size: 22px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Lato";
    top: calc(50% - 14px);
    left: auto;
    right: -470px; /*надо переделать*/
}