.header {
    width: 75%;
    margin-left: 12.5%;
    height: 90px;
    border-bottom: 1px solid #2f2f2f;
    position: relative;
}
.hello_page {
    width: auto;
    background-image: url(images/hello_bg.gif);
    height: 950px;
    background-repeat: no-repeat;
}
img.logo {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
ul.toolbar_list{
    margin: 0;
    padding: 0;
    height: 100%;
}
ul.toolbar_list li{
    display: inline-block;
    padding: 3px;
    color: aliceblue;
    font-size: 15px;
    height: 100%;
    margin-left: 70px;
    padding-bottom: 37px;
    padding-top: 37px;
}

ul.toolbar_list li:hover {
    border-bottom: solid aliceblue 1px;
    padding-bottom: 36px;
}

div.logo {
    float: left;
}

div.toolbar {
    position: relative;
    top: 50%;
    float: right;
    transform: translate(0, -50%);
}